/* Global Application Script Template */
/* /// <reference path="{*path*}/Assets/Babylon/Library/babylon.d.ts" /> */

BABYLON.SceneManager.OnWindowLoad(() => {
    // Global Page Loaded Handler
});

BABYLON.SceneManager.ExecuteWhenReady((scene:BABYLON.Scene, manager:BABYLON.SceneManager)=> {
    // Global Scene Ready Handler
});