<!-- Markup Styles -->
<style>
    #default {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 14px;
        z-index: 2;
        color: white;
        text-shadow: 2px 2px 0 black;
    }
    #centered {
        position: absolute;
        left: 50%;
        bottom: 50%;
        width: 300px;
        margin-left: -150px;
        font-size: 32px;
        opacity: 1;
        z-index: 20;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 0 black;
    }
</style>

<!-- Markup Elements -->
<div id="default">
    Default Screen Markup
</div>