<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>		
      <mimeMap fileExtension=".fx" mimeType="application/fx" />
      <mimeMap fileExtension=".gz" mimeType="application/gzip" />
      <mimeMap fileExtension=".dds" mimeType="image/vnd-ms.dds" />
      <mimeMap fileExtension=".hdr" mimeType="application/hdr" />
      <mimeMap fileExtension=".tga" mimeType="application/tga" />
      <mimeMap fileExtension=".data" mimeType="application/data" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".babylon" mimeType="application/babylon" />	
      <mimeMap fileExtension=".babylonbinarymeshdata" mimeType="application/babylonbinarymeshdata" />
      <mimeMap fileExtension=".babylonbinarygeometrydata" mimeType="application/babylonbinarygeometrydata" />
    </staticContent>
  </system.webServer>
</configuration>
